body {
   margin: 0px;
   padding: 0px;
   font-family: arial,sans-serif;
}

.top {
   background-color: #fafafa;
   border-style: solid;
   border-width: 0 0 1px 0;
   border-bottom-color: #ebebeb;
}

.content h2 {
   border-style: solid;
   border-width: 0 0 1px 0;
   border-bottom-color: #ebebeb;
}

.item {
   max-width: 600px;
   margin: 0px;
   padding: 0px;
}

h2.name {
   border-style: solid;
   border-width: 0 0 1px 0;
   border-bottom-color: #d0d0d0;
}

.price { font-weight: bold; }

.whatsapp {
   margin: 8px;
   font-size: small;
}

.whatsapp .number {
   font-weight: bold;
}

.lowest-price {
   float: right;
   border: 1px solid #d0d0d0;
   background-color: #fafafa;
   text-align: center;
   padding: 4px;
   margin: 4px;
}

.main {
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.bottom {
   background-color: #fafafa;
   border-style: solid;
   border-width: 1px 0 0 0;
   border-top-color: #ebebeb;
   font-size: small;
}

.bottom p {
   margin-bottom: 0px;
}

.note {
   font-size: small;
   padding-left: 40px;
}

.logo {
   width: 150px;
   height: 150px;
}

.place {
   width: 300px;
}

.logo, .place, .dish-thumb {
   border: 1px solid #d0d0d0;
   padding: 2px;
}

.dish-thumb {
   width: 150px;
   height: 150px;
}

.map {
   position: relative;
}

.map a {
   position: absolute;
   top: 0;
   left: 0;
   display:inline-block;
   width: 300px;
   height: 250px;
   z-index:5;
}
